/* See license.txt for terms of usage */

/******************************************************************************/
/* General Styles */

body {
  background-color: white;
  font-size: 12px;
  font-family: Lucida Grande, Tahoma, sans-serif;
  line-height: 15px;
  margin: 0;
  padding: 0;
}

code {
  font-family: monospace;
  background: rgb(249, 249, 249);
  padding: 1px;
  border: 1px solid lightgray;
  border-radius: 2px;
}

*:focus {
  outline: none !important;
}

.theme-light body,
.theme-dark body {
  background-color: var(--theme-body-background);
  color: var(--theme-body-color);
}

#content {
  height: 100%;
  overflow: hidden;
}

/******************************************************************************/
/* Dark & Light Themes */

body.theme-light,
body.theme-dark {
  background-color: var(--theme-body-background);
  color: var(--theme-body-color);
}
