/* See license.txt for terms of usage */

/******************************************************************************/
/* Inspector */

#content {
  height: 100%;
}

box {
  height: 100%;
  width: 100%;
}

.devtools-main-content {
  height: 100%;
}

body.devtools-responsive-container {
  overflow: hidden;
}

*:focus {
  outline: none !important;
}

/* Ignore mouse events if splitter-dragging is in progress */
body[resizing] iframe {
  pointer-events: none;
}

/******************************************************************************/
/* Splitter */

.splitter {
  background-color: var(--theme-sidebar-background);
}

/******************************************************************************/
/* Sidebar */

#inspector-sidebar {
  height: 100%;
}

/* ToolSidebar */
#inspector-sidebar.devtools-sidebar-tabs tabs > tab {
  padding: 0 !important;
  display: inline-block;
}

#inspector-sidebar > tabs {
  margin-left: -3px;
}
