/* See license.txt for terms of usage */

/******************************************************************************/
/* Inspector */

#content {
  height: 100%;
}

box {
  height: 100%;
  width: 100%;
}

.devtools-main-content {
  height: 100%;
}

body.devtools-responsive-container {
  overflow: hidden;
}

*:focus {
  outline: none !important;
}

/* Ignore mouse events if splitter-dragging is in progress */
body[resizing] iframe {
  pointer-events: none;
}

/******************************************************************************/
/* Sidebar */

#inspector-sidebar {
  height: 100%;
}

.iframe-ruleview {
  width: 100%;
  height: 100%;
}
